.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    padding: 8px 20px;
    z-index: 2;
}

.header h1:nth-child(1) {
    font-size: 30px;
    color: #fff;
    letter-spacing: 2px;
}

.header h1 {
    position: relative;
    color: #fff;
}

.header .create-button {
    position: relative;
    padding: 5px 10px;
    border-radius: 5px;
    min-height: 30px;
    font-size: 15px;
    font-weight: 400;
    background-color: #fff;
    color: #333;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 1px 1px 6px #444;
    transition: all 0.1s linear;
}

.header .create-button:active {
    background-color: #e1e1e1;
}

.header .create-button:hover {
    box-shadow: 0 0 10px #000;
}