.container {
  position: relative;
  overflow-y: scroll;
  padding-left: 30px;
}

.lists {
  position: relative;
  margin: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 320px);
  gap: 20px;
}

@media screen and (max-width: 600px) {
  .container {
    padding-left: 0;
  }
  .lists {
    justify-content: center;
  }
}
