.container {
    position: relative;
    padding: 30px 20px 100px 20px;
    overflow-y: scroll;
} 

.list-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, 320px);
    gap: 20px;
    justify-content: center;
}